body {
    /* Alinhamento centralizado da página */
    display: flex;
    justify-content: center; (O justify-content: center; alinha os itens ao centro no eixo horizontal.)
    align-items: center;
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0;
    padding: 0; (Preenchimento)
    height: 100vh; /* Tela cheia */
}

.Informações {
    /* Estilo da caixa do formulário */
    text-align: center;
    margin: 100px;
    width: 80%;
    max-width: 300px;
    height: 405px;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    color: white; /* Texto branco */
    border-radius: 35px; /* Bordas arredondadas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px; (Preenchimento)
    font-size: 20px;
}

form label { //* Rótulo do formulário */
    display: inline-block; /* Faz o elemento ficar na mesma linha que outros, mas ainda permite ajustar largura e altura.
 */
    margin-top: 10px; (Define o espaço externo acima de um elemento.)

    font-weight: bold; (Define a espessura do texto, como normal, negrito ou valores numéricos.)

}

form button {
    background-color: rgba(253, 253, 253, 0.7); /* Botão claro */
    cursor: pointer; /* Indicador de clique */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}


form input, form button {
    /* Campos e botão com estilos similares */
    width: 90%;
    margin: 10px 0;
    padding: 12px; (Preenchimento)
    border-radius: 20px; /* Bordas arredondadas */
    border: 1px solid #000; /* Contorno */
}

